body{
    background-color: rgb(224, 224, 224);
    font-family: 'Courier New', Courier, monospace;
}
.meu_cabecario{
background-color: rgb(248, 88, 30);
 margin: -2%;
}
.titulo{
    padding: 2%;
    text-align: center;
    font-size: 2.25em;
}
.subtitulo{
    text-align: center;
    color: antiquewhite;
    margin-top: -3%;
}
.link_partes{
    text-align: center;
    font-size: 1.25em;
    padding: 2%;
    color: antiquewhite;
}
.link_partes a {
    text-decoration: none;
    color: antiquewhite;
    margin: 2%;
    padding: 1% 2%;
    font-weight: bold;
}
.link_partes a:hover{
    background-color: rgb(241, 241, 241);
    color: rgb(218, 106, 32);
}
.topicos{
    margin: 5%;
}
table{
    padding: 0%;
    margin: -4% 3% 5% 3%;
    width: 80%;
    background-color: rgb(92, 89, 89);
    border-color: rgb(0, 0, 0);
    color: #ffffff;
}
code{
    color:rgb(46, 214, 214);
    font-size: 110%;
}
.funcao{
    font-size: 90%;
    margin-right: 7%;
}
footer{
    background-color: rgb(248, 88, 30);
    padding: 1.5%;
    margin: -1%;
    text-align: center;
    font-weight: bold;
}
.link_direitos{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.link_direitos:hover{
    background-color: #ffffff;
    color: rgb(248, 88, 30);
    padding: 1% 2%;
    font-size: 1.0325em;
}
